<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Seja bem vinde ao Blog da Zah!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, vitae debitis earum ut sunt quaerat
                quae doloremque asperiores exercitationem placeat cupiditate, iste possimus provident, consequatur vel
                alias aspernatur! Error, quia?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate repudiandae laudantium nobis iste ex
                ab nisi doloremque sequi reprehenderit sapiente accusantium incidunt hic voluptates, labore debitis nam
                harum ut temporibus.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero fugit voluptates iusto voluptatem
                officiis error possimus, alias cum eligendi velit, tempore debitis numquam rem. Tempora praesentium
                commodi et qui vel!
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>